<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.resistorcalculator"
    tools:ignore="ExtraText">

    <application
        android:allowBackup="true"
        android:icon="@drawable/resist"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResistorCalculator.NoActionBar">
        <activity android:name=".Calculator6Bands"></activity>
        <activity android:name=".Calculator5Bands" />
        <activity android:name=".Calculator4Bands" />
        <activity android:name=".Calculator_Activity" />
        <activity android:name=".Notes_Activity" />
        <activity android:name=".Home_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>